<!-- <app-loading-spinner></app-loading-spinner> -->
<div>
    <app-header></app-header>
</div>

<div>
    <button type="button" class="btn btn-primary return" (click)="returndash()">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-return-left" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5z"></path>
    </svg>

      </button>
</div>


<section class="section-doctors-facilities">
    <div class="headingDoctor">
        <h1 class="fw-bold text-primary text-center fs-8 mb-4">Transaction Records</h1>
    </div>
    <div class="container-fluid mt-5">
        <table class="table table-hover table-bordered fl-table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col" class="fw-bold text-primary">Serial number</th>
                    <th scope="col" class="fw-bold text-primary">Name</th>
                    <th scope="col" class="fw-bold text-primary">Payment Method</th>
                    <th scope="col" class="fw-bold text-primary">Transaction Number</th>
                    <th scope="col" class="fw-bold text-primary">Transaction Date</th>
                    <!-- <th scope="col" class="fw-bold text-primary">Contact</th> -->
                    <!-- <th scope="col" class="fw-bold text-primary">Availability</th> -->
                    <!-- <th scope="col" class="fw-bold text-primary">Cancel Slot</th> -->

                </tr>
            </thead>
            <tbody class="table-group-divider">
                <tr>
                    <td>1</td>
                    <td>Anshul</td>
                    <td>UPI</td>
                    <td>987654</td>
                    <td>10/10/23</td>

                </tr>
                <tr>
                    <td>2</td>
                    <td>Aditya</td>
                    <td>NEFT</td>
                    <td>13456</td>
                    <td>09/03/23</td>

                </tr>
                <tr>
                    <td>3</td>
                    <td>Nisha</td>
                    <td>Cash</td>
                    <td>654987</td>
                    <td>08/10/23</td>

                </tr>
                <tr>
                    <td>4</td>
                    <td>Ritu</td>
                    <td>UPI</td>
                    <td>456123</td>
                    <td>23/09/23</td>

                </tr>
                <tr>
                    <td>5</td>
                    <td>Tanya</td>
                    <td>Cash</td>
                    <td>978123</td>
                    <td>11/05/23</td>

                </tr>

            </tbody>
        </table>
    </div>
</section>