  <div>
    <app-header></app-header>
  </div>

  <div>
    <button  type="button" class="btn btn-primary return">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-return-left" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5z"></path>
  </svg>
  </button>
  </div>

  <!-- Credit card form -->
  <div class="body" >
    <div class="payment-info">
      <section>
        <div class="row" id="" style="justify-content: space-around;">
          <div class="col-md-8 " id="payment-card">
            <div class="card mb-4">
              <div class="card-header py-3 " id="payment-card-header" >
                <h5 class="mb-0">Payment details</h5>
              </div>
              <div class="card-body">
                <form>
                 <hr class="my-4" />

                  <h5 class="mb-4">Payment</h5>

                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="checkoutForm3"
                      checked />
                    <label class="form-check-label" for="checkoutForm3">
                      Card
                    </label>
                  </div>

                  <div class="form-check mb-4">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="checkoutForm5" />
                    <label class="form-check-label" for="checkoutForm5">
                      UPI
                    </label>
                  </div>

                  <button class="btn btn-lg btn-block" type="submit" id="submit-btn">
                    Continue to checkout
                  </button>
                </form>
              </div>
            </div>
          </div>

          <div class="col-md-4 mb-4" style="max-width: 40vw;">
            <div class="card mb-4">
              <div class="card-header py-3" id="payment-card-header">
                <h5 class="mb-0">Summary</h5>
              </div>
              <div class="card-body">
                  <div class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                    <div>
                      <strong>Total amount</strong>
                      <strong>
                        <p class="mb-0">(including Tax)</p>
                      </strong>
                    </div>
                    <span><strong>Amount</strong></span>
                    </div>

              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>


<!-- Credit card form -->
  <!-- <form class="form-inline">
    <div class="form-group">
      <label for="inputCVV">CVV</label>
      <input type="password" id="inputCVV" class="form-control mx-sm-3" aria-describedby="passwordHelpInline">
      <small id="passwordHelpInline" class="text-muted">
      </small>
    </div>
  </form> -->

